<mat-card>Hello and welcome to my crib</mat-card>

<h1 style="margin: 20px 0">Your "history" issues</h1>

<div class="issues-container" style="margin-bottom: 20px;">
	<mat-accordion multi>
		<mat-expansion-panel *ngFor="let issue of selectedIssues">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ issue.priority }}
					<br>
					SP: {{issue.storypoints}}
				</mat-panel-title>
				<mat-panel-description>
					{{issue.summary}}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<p> {{issue.description}}</p>
			<button mat-flat-button color="warn" (click)="remove(issue)">Remove</button>

		</mat-expansion-panel>
	</mat-accordion>
</div>

<form [formGroup]="generateForm" (ngSubmit)="generate()">
	<mat-form-field class="example-full-width" appearance="fill" style="margin-right: 20px;">
		<mat-label>Story points</mat-label>
		<input matInput type="number" formControlName="storypoints">
	</mat-form-field>
	<button style="margin-bottom: 20px;" mat-flat-button color="primary" *ngIf="selectedIssues.length > 0"
		(click)="generate()" [disabled]="selectedIssuesCount < 5 || !generateForm.valid">Generate recommendations
	</button>
</form>


<mat-spinner *ngIf="showSpinner"></mat-spinner>

<div class="issues-container" *ngIf="generatedIssues.length > 0">
	<h1 style="margin: 20px 0">Your recommended sprint plan</h1>
	<mat-accordion multi>
		<mat-expansion-panel *ngFor="let issue of generatedIssues">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ issue.priority }}
					<br>
					SP: {{issue.storypoints}}
				</mat-panel-title>
				<mat-panel-description>
					{{issue.summary}}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<p> {{issue.description}}</p>
		</mat-expansion-panel>
	</mat-accordion>
</div>
<form [formGroup]="feedbackForm" (ngSubmit)="submit()" *ngIf="generatedIssues.length > 0">
	<h1 style="margin: 20px 0">Feedback</h1>
	<label id="example-radio-group-label">1. How pleased are you with the recommended sprint plan</label>
	<mat-radio-group class="example-radio-group" style="margin-bottom: 20px;" aria-label="Select an option" formControlName="rating">
		<mat-radio-button class="example-radio-button" value="1">1</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="2">2</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="3">3</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="4">4</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="5">5</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="6">6</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="7">7</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="8">8</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="9">9</mat-radio-button>
		<mat-radio-button class="example-radio-button" value="10">10</mat-radio-button>
	</mat-radio-group>

	<button style="margin-bottom: 20px;" type="submit" mat-flat-button color="primary" [disabled]="!feedbackForm.valid">Submit</button>

</form>
