<h1>Find optimal issue reports</h1>

<form [formGroup]="generateForm" (ngSubmit)="generate()">
	<mat-form-field appearance="fill" style="margin-right: 20px;">
		<mat-label>Developer</mat-label>
		<mat-select formControlName="developer" (selectionChange)="getVelocity()">
		  <mat-option *ngFor="let dev of developers" [value]="dev">
			{{dev}}
		  </mat-option>
		</mat-select>
	  </mat-form-field>
	<mat-form-field class="example-full-width" appearance="fill" style="margin-right: 20px;">
		<mat-label>Number of issues</mat-label>
		<input matInput type="number" formControlName="storypoints">
	</mat-form-field>
	<button style="margin-bottom: 20px;" mat-flat-button color="primary"
		(click)="generate()" [disabled]="!generateForm.valid">Find optimal issue reports
	</button>

	<p>Your calculated number of issues for the next two week sprint is {{ velocity }}</p>
</form>

<mat-spinner *ngIf="showSpinner"></mat-spinner>

<div class="issues-container" *ngIf="generatedIssues.length > 0">
	<h1 style="margin: 20px 0">Your optimal set of issue reports</h1>
	<mat-accordion multi>
		<mat-expansion-panel *ngFor="let issue of generatedIssues">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Priority: {{ issue.priority }}
				</mat-panel-title>
				<mat-panel-description>
					{{issue.summary}}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<p> {{issue.description}}</p>
		</mat-expansion-panel>
	</mat-accordion>
</div>

<div style="width: 50%; margin-top: 20px" *ngIf="generatedIssues.length > 0">
	<div>
	  <div style="display: block">
		<canvas baseChart
		  [data]="radarChartData"
		  [options]="radarChartOptions"
  
		  [type]="radarChartType">
		</canvas>
	  </div>
	</div>
  </div>