<mat-card>Welcome to my thesis project. 
	The goal of this research is to develop an 
	algorithm to generate sprint plans for developers 
	so that the recommended issues are optimized for 2 things:
	<ul>
		<li>Business value (based on priority and story points)</li>
		<li>Developer's experience with similar issues</li>
	</ul> 
	I kindly ask you to go through the process 
	and provide feedback on the results of the algorithm.
</mat-card>
<button mat-flat-button color="primary" (click)="continue()">Continue</button>
